#$ TOOL ispLEVER Classic 2.0.00.17.20.15
#$ DATE Fri May 20 05:29:46 2016
#$ TITLE Jukebox Display
#$ MODULE jukebox
#$ JEDECFILE jukebox
#$ PINS 14 Clock:1 iSRDY:2 PCS6:3 PCS5:4 RESET:5 DTR:6 UD:13 POTCS:14 DISPE:15 DSPRW:16 DSPCS:17 oSRDY:18 DSPDIR:19 St0-
.type fr
.i 1
.o 16
.ilb Clock
.ob UD POTCS DISPE DSPRW DSPCS oSRDY DSPDIR UD.OE POTCS.OE DISPE.OE DSPRW.OE DSPDIR.OE DSPCS.OE oSRDY.OE St0.C St0.D
.p 4
- ~1~~~111111111~1
1 ~~~~~~~~~~~~~~1~
- 0~000~~~~~~~~~~~
0 ~~~~~~~~~~~~~~0~
.end
