#$ TOOL ispLEVER Classic 2.0.00.17.20.15
#$ DATE Sun Sep 25 20:39:52 2016
#$ TITLE interrupts
#$ MODULE ints
#$ JEDECFILE ints
#$ PINS 5 BTN:10 ENC:9 Clock:11 INT0:28 INT3:27
.type fr
.i 3
.o 6
.ilb Clock BTN ENC
.ob INT0.OE INT0.C INT3.OE INT3.C INT0.D INT3.D
.p 7
--- 1~1~~~
1-- ~1~1~~
-0- ~~~~1~
--0 ~~~~~1
0-- ~0~0~~
-1- ~~~~0~
--1 ~~~~~0
.end
